/*
 * CSS styles for travel page.
 *
 * Author: Alexey Rybakov
 */

/*
 * Palette 1:
 *   #FF1E00
 *   #BF4030
 *   #A61300
 *   #FF5640
 *   #FF8373
 * Palette 2:
 *   #00BF32
 *   #248F40
 *   #007C21
 *   #38DF64
 *   #64DF85
 */

/* Main colors. */
body, table, tr, td, hr, iframe
{
    color : #000000;
    font-family : verdana, sans-serif;
    font-size : 10pt;
    margin : 0px 0px 0px 0px;
    padding : 0px 0px 0px 0px;
    border-spacing : 0px
}

/* No borders. */
iframe
{
    border : none
}

/* Max elemets sizes. */
table.sketch, iframe
{
    width : 100%;
    height : 100%
}

/* HR. */
hr
{
    width : 100%;
    border-style : solid;
    border-color : silver
}

/* Anchors. */
a
{
    text-decoration : none
}
a:hover
{
    text-decoration : underline
}

/* Images. */
img
{
    border : none
}

/* Palette. */
.bg1
{
    background-color : #FFFFFF
}
.bg2
{
    background-color : #FFFFFF
}
.bg3
{
    background-color : #FFFFFF
}
.bg4
{
    background-color : #FFFFFF
}
.bg5
{
    background-color : #FFFFFF
}

/* Elements colors. */
td.head
{
    background-color : #DDDDDD
}
td.menu
{
    background-color : #DDDDDD
}

