/*
	Палитра 1:
		#FF1E00
		#BF4030
		#A61300
		#FF5640
		#FF8373
	Палитра 2:
		#00BF32
		#248F40
		#007C21
		#38DF64
		#64DF85
*/


/* Общие стили документа */
body
{
	background-color : #eeeeee;
	font-size : 11pt;
	font-family : verdana, sans-serif
}


/* Оформление изображений*/
img.default
{
	display : block;
	margin : 0 auto;
	border : thin solid silver
}


/* Абзац */
p.h1
{
	font-weight : 900;
	font-size : 13pt;
	text-align : center
}
p.h2
{
	font-weight : 900;
	font-size : 12pt;
	text-align : center
}
p.descr
{
}
p.quote
{
	color : #BF4030;
	font-style : italic
}


/* Разделитель сводной информации */
hr.sum
{
	width : 100%;
	border-style : solid;
	border-color : #00BF32
}


/* Сводная информация */
table.sum
{
	font-family : monospace;
	font-size : 13pt;
	margin : 0px 0px 0px 0px;
	padding : 0px 0px 0px 0px;
	border-spacing : 0px;
	width : 100%;
	background-color : #64DF85
}
td
{
	text-align : left
}