/*
 * CSS for travel article.
 *
 * Author: Alexey Rybakov
 */

/*
 * Palette 1:
 *   #FF1E00
 *   #BF4030
 *   #A61300
 *   #FF5640
 *   #FF8373
 * Palette 2:
 *   #00BF32
 *   #248F40
 *   #007C21
 *   #38DF64
 *   #64DF85
 */

/* Main styles. */
body
{
    background-color : #FFFFFF;
    font-size : 11pt;
    font-family : verdana, sans-serif
}

/* All images. */
img
{
	max-width : 800px;
}

/* Images. */
img.default
{
    display : block;
    margin : 0 auto;
    border : thin solid silver
}

/* Paragraphs. */
p.h1
{
    font-weight : 900;
    font-size : 13pt;
    text-align : center
}
p.h2
{
    font-weight : 900;
    font-size : 12pt;
    text-align : center
}
p.descr
{
}
p.quote
{
    color : #000000;
    font-style : italic
}

/* HR. */
hr.sum
{
    width : 100%;
    border-style : solid;
    border-color : #00BF32
}

/* Info. */
table.sum
{
    font-family : monospace;
    font-size : 13pt;
    margin : 0px 0px 0px 0px;
    padding : 0px 0px 0px 0px;
    border-spacing : 0px;
    width : 100%;
    background-color : #FFFFFF
}
td
{
    text-align : left
}

